<ng-container *ngIf="value; then sign_ok else sign_err"></ng-container>

<ng-template #sign_ok>
  <sp-show-pdf-sign-container [value]="contentType"></sp-show-pdf-sign-container>

  <ng-container *ngFor='let info of signerInfo; let count=index;'>
    <sp-box title="SIGNER {{count}}">
      <sp-box title="VERSION">
        {{ info.getVersion() }}
      </sp-box>

      <sp-box title="DIGEST ALGORITHM">
        <ng-container *ngIf="info.getDigestAlgo() as v">
          {{ v.getName() }} ({{ v.getOid() }})
        </ng-container>
      </sp-box>

      <sp-show-signature
        [value]="info.getSignature()">
      </sp-show-signature>

      <sp-box title="CERTIFICATES ({{ certPreview?.length}})">
        <div class="cert-box" *ngFor='let cert of certPreview; let count=index;'>

          <sp-box title="CERTIFICATE #{{count + 1}}">
            <sp-show-serial-num [value]="cert.getSerialNumber()"></sp-show-serial-num>
            <sp-show-entity title="SUBJECT" [value]="cert.getSubject()"></sp-show-entity>
            <sp-show-entity title="ISSUER" [value]="cert.getIssuer()"></sp-show-entity>
          </sp-box>

          <button mat-icon-button color="primary"
            title="See certificate {{count + 1}}"
            (click)="details(count)">
            <mat-icon>read_more</mat-icon>
          </button>
        </div>
      </sp-box>
    </sp-box>
  </ng-container>

  </ng-template>

<ng-template #sign_err>
  No signature available.
</ng-template>
