<img src="assets/images/pushti-home.svg">

<div class="info">
  <p>
  Safely view contents of digital certificates and signatures contained
  in a PDF within your local browser. No data leaves the browser.
  </p>

  <div class="icons">
    <img src="assets/images/pushti-pem.svg" />
    <img src="assets/images/pushti-der.svg" />
    <img src="assets/images/pushti-pdf.svg" />
  </div>

  <p>
    Select a specific <strong>view</strong> for certificates or PDF from the
    menu bar above. OR drop any file in PEM/ DER/ PDF format in this area.
  </p>

  <p>
    <strong>IMPORTANT:</strong> Viewing signature in PDF depends on browser's
    capability to parse the file.
  </p>
</div>
<div class="wip">WORK IN PROGRESS</div>

<div class="info">
  It is under active, but slow, development.
  An update is usually available on weekends.
</div>
