<img src="assets/images/pushti-home.svg">

<div class="info">
  <p>
  Safely view contents of digital certificates and signatures contained
  in a PDF within your local browser. No data leaves the browser.
  </p>

  <div class="icons">
    <a [routerLink]="['/cert']"><img src="assets/images/pushti-pem.svg" /></a>
    <a [routerLink]="['/cert']"><img src="assets/images/pushti-der.svg" /></a>
    <a [routerLink]="['/pdf']"><img src="assets/images/pushti-pdf.svg" /></a>
  </div>

  <p>
    Select a specific <strong>view</strong> for certificates or PDF from the
    menu bar above. OR drop any file in PEM/ DER/ PDF format in this area.
  </p>
</div>

<div class="info">
  <strong>IMPORTANT:</strong>
  <ul>
    <li>Viewing signature in PDF depends on browser's capability to parse
      the file.</li>
    <li>Currently, password protected PDFs are not supported.</li>
  </ul>
</div>

<div class="info">
  This application is under active, but slow, development.
  An update is usually available on weekends.
</div>
