<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Go home"
    [routerLink]="['/home']">
    <mat-icon svgIcon="apps"></mat-icon>
  </button>
  <span>PUSHTI</span>

  <span class="h-spacer"></span>

  <button mat-icon-button aria-label="Certificate"
    [routerLink]="['/cert']"
    [disabled]="url === '/cert'">
    <mat-icon svgIcon="certificate"></mat-icon>
  </button>

  <button mat-icon-button aria-label="PDF"
    [routerLink]="['/pdf']"
    [disabled]="url === '/pdf'">
    <mat-icon svgIcon="pdf"></mat-icon>
  </button>

  <span class="h-spacer"></span>

  <button mat-icon-button aria-label="Settings"
    [routerLink]="['/settings']">
    <mat-icon svgIcon="settings"></mat-icon>
  </button>

  <button mat-icon-button aria-label="About"
    [routerLink]="['/about']">
    <mat-icon svgIcon="info"></mat-icon>
  </button>
</mat-toolbar>
