\:host
  display: flex
  flex-direction: column
  margin: 64px

  .icons
    display: flex
    flex-direction: row
    justify-content: center

  .para
    margin: 16px

    font-size: 16px
    text-align: center

    user-select: none
