<sp-box title="EXTENSIONS">
  <div class="columns" *ngFor="let extension of extensions">
    <div [ngSwitch]="extension.getOid()">
      <sp-show-extn-key-usage *ngSwitchCase="'2.5.29.15'"
        [oid]="extension.getOid()"
        [critical]="extension.getCritical()"
        [value]="extension.getValue()">
      </sp-show-extn-key-usage>

      <sp-show-extn-issuer-alt-name *ngSwitchCase="'2.5.29.18'"
        [oid]="extension.getOid()"
        [critical]="extension.getCritical()"
        [value]="extension.getValue()">
      </sp-show-extn-issuer-alt-name>

      <sp-show-extn-basic-constraints *ngSwitchCase="'2.5.29.19'"
        [oid]="extension.getOid()"
        [critical]="extension.getCritical()"
        [value]="extension.getValue()">
      </sp-show-extn-basic-constraints>

      <sp-show-extn-crl-distro-point *ngSwitchCase="'2.5.29.31'"
        [oid]="extension.getOid()"
        [critical]="extension.getCritical()"
        [value]="extension.getValue()">
      </sp-show-extn-crl-distro-point>

      <sp-show-extn-cert-policy *ngSwitchCase="'2.5.29.32'"
        [oid]="extension.getOid()"
        [critical]="extension.getCritical()"
        [value]="extension.getValue()">
      </sp-show-extn-cert-policy>

      <sp-show-extn-authority-key-id *ngSwitchCase="'2.5.29.35'"
        [oid]="extension.getOid()"
        [critical]="extension.getCritical()"
        [value]="extension.getValue()">
      </sp-show-extn-authority-key-id>

      <sp-show-extn-extended-key-usage *ngSwitchCase="'2.5.29.37'"
        [oid]="extension.getOid()"
        [critical]="extension.getCritical()"
        [value]="extension.getValue()">
      </sp-show-extn-extended-key-usage>

      <sp-show-extn-default *ngSwitchDefault
        [oid]="extension.getOid()"
        [critical]="extension.getCritical()"
        [value]="extension.getValue()">
      </sp-show-extn-default>
    </div>
  </div>
</sp-box>
