<mat-toolbar>
  <span>{{ certFile }}</span>

  <button *ngIf="certificate"
     mat-icon-button
    class="clear"
    (click)="onClear()"
    aria-label="Clear certificate">
    <mat-icon>close</mat-icon>
  </button>

  <span class="h-spacer"></span>

  <input type="file" #fileInput
    class="invisible"
    [multiple]="false"
    [accept]="ACCEPT_EXTENSIONS"
    (change)="onFileSelected($event)" />

    <button mat-mini-fab color="accent"
       aria-label="Upload file"
       (click)="fileInput.click()">
      <mat-icon>upload</mat-icon>
    </button>
</mat-toolbar>

<div class="parse-area">
  <ng-container *ngIf="certificate">
    <sp-show-version
      [value]="certificate.getVersion()">
    </sp-show-version>
    <sp-show-serial-num
      [value]="certificate.getSerialNumber()">
    </sp-show-serial-num>
    <sp-show-validity
      [value]="certificate.getValidity()">
    </sp-show-validity>
  </ng-container>

  <sp-input-pem *ngIf="certFile !== ''"></sp-input-pem>
</div>
