<mat-toolbar>
  <span>{{ certFile === '' ? 'Certificate View' : certFile }}</span>

  <span class="h-spacer"></span>

  <input type="file" #fileInput
    class="invisible"
    [multiple]="false"
    [accept]="ACCEPT_EXTENSIONS"
    (change)="onFileSelected($event)" />

  <button mat-icon-button color="accent"
    aria-label="Upload file"
    (click)="fileInput.click()">
    <mat-icon>upload</mat-icon>
  </button>

  <button *ngIf="certificate"
     mat-icon-button color="primary"
    (click)="onClear()"
    aria-label="Clear certificate">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<div class="parse-area" [ngClass]="[ flash ? 'flash' : '']">
  <sp-filler *ngIf="!certificate" select="cert" [clear]="clearPEM"></sp-filler>

  <div *ngIf="certificate" class="columns" [ngClass]="columns">
    <sp-show-version
      [value]="certificate.getVersion()">
    </sp-show-version>
    <sp-show-serial-num
      [value]="certificate.getSerialNumber()">
    </sp-show-serial-num>
    <sp-show-validity
      [value]="certificate.getValidity()">
    </sp-show-validity>
    <sp-show-entity
      title="ISSUER"
      [value]="certificate.getIssuer()">
    </sp-show-entity>
    <sp-show-entity
      title="SUBJECT"
      [value]="certificate.getSubject()">
    </sp-show-entity>
    <sp-show-fingerprints
      title="FINGERPRINTS"
      [value]="certificate.getCertFingerprints()">
    </sp-show-fingerprints>
  </div>

  <ng-container *ngIf="certificate">
    <sp-show-subject-public-key
      title="SUBJECT PUBLIC KEY INFO"
      [value]="certificate.getSubjectPublicKeyInfo()">
    </sp-show-subject-public-key>
    <sp-show-extensions *ngIf="certificate.hasExtensions()"
      [extensions]="certificate.getExtensions()">
    </sp-show-extensions>
    <sp-show-signature
      title="SIGNATURE"
      [value]="certificate.getCertSignature()">
    </sp-show-signature>
  </ng-container>

  <sp-input-pem *ngIf="certFile !== ''"></sp-input-pem>
</div>
