body
  margin: 0
  padding: 0

.h-spacer
  flex-grow: 1

.attribute
  display: table-row
  margin: 2px

  .attr-name
    display: table-cell
    padding: 2px 16px 2px 2px
    font-weight: 500
    color: #000000

  .attr-value
    display: table-cell
    padding: 2px 2px 2px 8px
    font-family: 'Fira Code', monospace
    word-wrap: anywhere

    .hex
      display: inline-block
