\:host
  display: block
  background-image: linear-gradient(175deg, #fff4e4 8%, #f0f8ee 70%)

  width: 100%
  height: 100%

  padding: 16px

  box-sizing: border-box

  font-family: 'Fira Code', monospace

  text-align: center

  overflow-y: auto

  user-select: none

  .title
    margin-bottom: 12px

    font-size: 48px
    font-weight: 600

    line-height: 1.25

  .version
    font-size: 16px
    font-weight: 400
    margin-bottom: 12px

    line-height: 1.5

  .name
    font-size: 16px
    font-weight: 500
    margin-bottom: 12px

    line-height: 1.5

  .url
    font-size: 12px
    font-weight: 500
    margin-bottom: 12px

  img
    max-height: 192px
    margin: 16px 0

    user-select: none
    pointer-events: none


  .ok
    margin: 16px 0

  .history
    display: flex
    flex-direction: column

    margin: 16px

    align-self: stretch

    .history-title
      font-size: 14px
      font-weight: 500
      text-align: left

    .history-text
      font-size: 12px
      text-align: justify
      overflow-y: auto
