<div class="info">
  <div class="version">Version 0.8.6</div>
  <img src="assets/images/pushti-logo.svg">

  <div class="name">Sanjeev Premi</div>
  <div class="url">http://github.com/spremi</div>

  <button class="ok" mat-flat-button color="accent"
    (click)="onDismiss()">DISMISS
  </button>
</div>
<div class="history">
  <div class="history-title">Version History</div>
  <div class="history-text">
    <dt>v0.8.0</dt>
    <dd>Initial alpha version.</dd>
    <dt>v0.8.1</dt>
    <dd>Support responsive layout.</dd>
    <dt>v0.8.2</dt>
    <dd>Add custom icons.</dd>
    <dt>v0.8.3</dt>
    <dd>Show PDF.</dd>
    <dt>v0.8.4</dt>
    <dd>Parse signature in PDF.</dd>
    <dt>v0.8.5</dt>
    <dd>Show certificates in PDF.</dd>
    <dt>v0.8.6</dt>
    <dd>Support for extensions: Adobe Timestamp, Adobe Archive Revision.</dd>
    <dd>Minor bugfixes.</dd>
    <dd>Update dependencies.</dd>
  </div>
</div>
