<div class="title">Pushti</div>
<div class="version">Version 0.8.3</div>

<img src="assets/images/pushti-logo.svg">

<div class="name">Sanjeev Premi</div>
<div class="url">http://github.com/spremi</div>

<button class="ok" mat-flat-button color="accent"
  (click)="onDismiss()">DISMISS
</button>

<div class="history">
  <div class="history-title">Version History</div>
  <ul class="history-text">
    <li><strong>v0.8.0</strong>: Initial alpha version.</li>
    <li><strong>v0.8.1</strong>: Support responsive layout.</li>
    <li><strong>v0.8.2</strong>: Add custom icons.</li>
    <li><strong>v0.8.3</strong>: Show PDF.</li>
  </ul>
</div>
