<sp-box
  title="Certificate Policy"
  [oid]="oid"
  [extn]="true"
  [extnCritical]="critical">

  <ng-container *ngIf="policies && policies.length > 0; else policy_err">
    <div class="attribute" *ngFor="let policy of policies; index as i;">
      <div class="attr-name">({{ i + 1 }})</div>
      <div class="attr-value">
        <strong>{{ policy.name }} (<span class="oid">{{ policy.oid }}</span>)</strong>
        <dl *ngFor="let qualifier of policy.qualifiers;">
          <dt>{{ qualifier.name }} (<span class="oid">{{ qualifier.oid }}</span>)</dt>
          <dd>{{ qualifier.value }}</dd>
        </dl>
      </div>
    </div>
  </ng-container>

  <ng-template #policy_err>
    ...
  </ng-template>
</sp-box>
