<div class="box-head" [ngClass]="{'theme-0': !extn, 'theme-1': extn }">
  <span class="title">{{title}}</span>
  <span class="oid" *ngIf="oid !== ''">{{oid}}</span>

  <span class="flags" *ngIf="extn">
    <ng-container *ngIf="extnCritical">(C)</ng-container>
  </span>

  <span class="icon">
    <mat-icon #copyIcon (click)="onCopyContent()">content_copy</mat-icon>
  </span>
</div>

<!-- Required to maintain visual alignment -->
<ng-template #flag_err>
  <span class="flags">&nbsp;</span>
</ng-template>

<div class="box-content">
  <ng-content></ng-content>
</div>
