<mat-toolbar>
  <span>{{ pdfName }}</span>

  <button *ngIf="pdfUrl"
     mat-icon-button
    class="clear"
    (click)="onClear()"
    aria-label="Clear PDF">
    <mat-icon>close</mat-icon>
  </button>

  <span class="h-spacer"></span>

  <input type="file" #fileInput
    class="invisible"
    [multiple]="false"
    [accept]="ACCEPT_EXTENSIONS"
    (change)="onFileSelected($event)" />

    <button mat-mini-fab color="accent"
       aria-label="Upload file"
       (click)="fileInput.click()">
      <mat-icon>upload</mat-icon>
    </button>
</mat-toolbar>

<sp-filler *ngIf="!pdfUrl" select="pdf"></sp-filler>

<div class="parse-area" *ngIf="pdfUrl">
  <object type="application/pdf" class="pdf" [data]="pdfUrl"></object>
</div>
