\:host
  display: flex
  flex-direction: column
  height: 100%

  .invisible
    display: none

  .clear
    margin-left: 16px

  .parse-area
    display: flex
    flex-direction: row
    flex: 1
    padding: 16px
    overflow: auto

    .pdf
      height: 100%
      width: 400px
